.container h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.5em;

    color: var(--Very_Light_Gray);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div {
    cursor: pointer;
}

.header div {
    width: 26px;
    aspect-ratio: 1;
    transition: all 1s ease-in-out;
}

.App.light .header div {
    background: url("/images/icon-moon.svg");
}
.App.dark .header div {
    background: url("/images/icon-sun.svg");
}
